%h2 Bad-asses
%ul
  - @totals.each do |user|
    = partial 'user', :user => user, :count => user.totals

%h2 Most Props
%ul
  - @props.each do |user|
    = partial 'user', :user => user, :count => user.props

%h2 Most Drops
%ul
  - @drops.each do |user|
    = partial 'user', :user => user, :count => user.drops
